<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Demo Home</title>
    <script type="text/javascript" src="/js/lib/jquery-3.4.1.min.js"> </script>
    <script type="text/javascript" src="/js/student.js"> </script>
</head>
<body>
    <h1>Create</h1>
    <label for="cFirstName">First name: </label><input id="cFirstName" type="text" /><br>
    <label for="cLastName">Last name: </label><input id="cLastName" type="text" /><br>
    <button id="cSubmit">Submit</button>
    <div id="cResult">
        <label for="cIdRes">ID: </label><input id="cIdRes" type="text" disabled/><br>
        <label for="cFirstNameRes">First name: </label><input id="cFirstNameRes" type="text" disabled/><br>
        <label for="cLastNameRes">Last name: </label><input id="cLastNameRes" type="text" disabled/><br>
    </div>

    <hr>
</body>
</html>